.DS_Store
node_modules
# dist/ — checked in on this branch for use as a git dependency
o1labs*.tgz
tests/report/
tests/test-artifacts/
profiling.md
o1js-reference
*.tmp.js
_build/
src/config/
src/config.mlh
.direnv
.rustup
result
# precompiled bindings — checked in on this branch for use as a git dependency
# src/bindings/compiled
.bindings_download
